.hotline{
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 30px;
    font-size: 15px;
    background-color: black;
    color: white;
    text-align:right;
    width: 100%;
}
.hline{
    position: relative;
    right: 100px;
}
.logo{
    position: relative;
    top: 10px;
    left: 100px;
    line-height: 50px;
    float: left;
}
nav{
    position: absolute;
    top: 30px;
    width: 100%;
    background-color: white;
    font-variant: small-caps; 
    text-align: right;
    line-height:60px;
}
nav>a{
    position: relative;
    right: 100px;
    margin: 10px;
    text-decoration: none;
    color: gray;
}
nav>a:hover{
    
    border: 20px solid gray;
    color: black;
    background-color: gray;
}
header{
    height: 200px;
    background-image: url(../anh/apartments-1845884_1920.jpg);
    background-repeat: no-repeat;
    background-size:100% 100% ;
    padding-bottom:25%;
}
article{
    width: 70%;
    position: relative;top: 100px;
}

.caption{
    font-size: 25px;
    color: black;
    line-height: 50px;
    text-align: center;
    background-color: white;
}
.noidung{
    width: 60%;
    line-height: 50px;
    padding: 10px;
    background-color:white;
    float: left;
    text-align: center;
    position: relative;left: 200px;
    
}
.noidung>img{
    width: 100%;
    height: 200px;
    text-align: center;
    float: left;
    
}
body{
    font-family:Arial;
    font-size: 15px;
 }
 
 footer{
    float: left;
    line-height:30px;
    color: aliceblue;
    width: 100%;
    background-color:black;
    font-size: 12px;
}
 aside{
    width: 30%;
    float: right;
    
 }
 .menu1{
    background-color: burlywood;
    line-height: 120px;
 }
 .menu1 a{
    font-size: 20px;
    font-family: Arial;
    color: black;
    text-align: center; 
    text-decoration: none;
    display: block;
 }
 .menu1 ul{
 list-style: none;
 }
 .menu1 a:hover{
    background-repeat:no-repeat;
    color: black;
    text-decoration:underline;
    text-align: center; 
 }
 .menu>ul{
    padding:0px;
    margin:0px;
    list-style:none;
    background-color:white;
    text-align:right;
    }
.menu>ul>li{
        display: inline-block;
        position:relative;
        right: 100px;
    }
    .menu>ul>li>a{
        display: block;
        text-decoration: none;
        margin: 10px;
        color: gray;
    }
    .menu>ul>li>a:hover{
        color: black;
    }
    .menu ul ul{
        position:absolute;
        display:none;
        padding:0px;
        margin:0px;
        list-style:none;
        border-radius:3px;
        width:200px;
        background-color:white;
        box-shadow:0 0 1px gray;
        
        
        }
        .menu ul ul a{
            text-align: center;
            background-color: white;
            display:block;
            line-height:30px;
            text-decoration:none;
            font-variant:small-caps;
            font-size:larger;
            padding:0 10px;
            color: gray;
            
        } 
        .menu>ul>li:hover>ul{
            display:block;
            
            color:black;
        } 
        .menu ul ul a:hover{ 
            
             color:black;
        }
.noidung:hover{
    box-shadow: 0px 2px 5px gray;
}
.mua{
    position: fixed;
    bottom: 100px;
    right: 50px;

}
.lienhenhanh{
    position: fixed;
    bottom: 30px;
    right: 50px;
}
.mua a:hover{
    background-color: white;
    border-radius: 50px;
    box-shadow: 0px 2px 10px gray;
}
.lienhenhanh img:hover{
    background-color: white;
    border-radius: 50px;
    box-shadow: 0px 2px 10px gray;
    
}
.mua{
    position: fixed;
    bottom: 100px;
    right: 50px;

}
.lienhenhanh{
    position: fixed;
    bottom: 30px;
    right: 50px;
}
.mua a:hover{
    background-color: white;
    border-radius: 50px;
    box-shadow: 0px 2px 10px gray;
}